<div class="region">

  <div class="dropdown  region__seperate">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Region
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item"  (click)="clickRegion('asia')" >Asia</button>
      <button class="dropdown-item" (click)="clickRegion('europe')">Europe</button>
    </div>
  </div>
  <!-- place eh countries drop down under this on-->
  <div class="dropdown region__seperate"  [ngClass]="showContries()" >
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Country
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ng-container *ngFor="let country of storeAll ">
        <button class="dropdown-item" (click)="selectCountry(country.name)" >{{ country.name }}</button>
      </ng-container>
    </div>
  </div>

</div>
<app-country-detail></app-country-detail>
